extends layout

block content
  #driver.page
    if (is_phone || is_tablet)
      p#status.centeredText.boldText.largerText= status.mobileDevice
      img#instructions(src='/images/alpha.png')
    else
      p#status.centeredText.boldText.largerText= status.desktopDevice

block append scripts
  if (is_phone || is_tablet || is_bot)
    script(type='text/javascript', src='/javascripts/external/muzzley.js')
    script(type='text/javascript', src='/javascripts/compiled/driverController.js')
    script(type='text/javascript').
      window.driverController.init()