extends layout

block content
  #screen.page
    if (is_desktop || is_tv || is_bot)
      //- h1= title
      p#status= status.desktopDevice
      canvas#player(width='500', height='500')
      canvas#action(width='500', height='500')
    else
      p#status.centeredText.boldText.largerText= status.mobileDevice

block append scripts
  if (is_desktop || is_tv || is_bot)
    script(type='text/javascript', src='/primus/primus.js')
    script(type='text/javascript', src='/javascripts/external/muzzley.js')
    script(type='text/javascript', src='/javascripts/compiled/screenController.js')
    script(type='text/javascript').
      window.screenController.init()