html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body { font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a { color: #00B7FF; }

.page { padding: 5%; }

.centeredText { text-align: center; }

.boldText { font-weight: bold; }

.smallText { font-size: 0.8em; }
.smallerText { font-size: 0.5em; }
.tinyText { font-size: 0.2em; }

.largeText { font-size: 1.2em; }
.largerText { font-size: 1.5em; }
.hugeText { font-size: 1.8em; }

#screen #canvases {
  display: none;
  height: 510px;
  width: 100%;
}

#screen canvas {
  background: transparent;
  border: 1px solid black;
  display: none;
  position: absolute;
}

#screen #action { z-index: -1; }
#screen #player { z-index: 0; }

#driver #instructions {
  display: block;
  margin: 0 auto;
}

#screen #ranking-label { margin-top: 4%; }

#screen #ranking-list .ranking-entry > div { display: inline-block; }
#screen #ranking-list .ranking-entry > div:nth-child(2) { padding-left: 2%; }